{% extends 'base.html' %}


<div class="grid">
{% block content %}
    <div class="content">
    <h1>회원가입</h1>
    <form method="POST">
        {% csrf_token %}
        
        <input name="username" type="text" placeholder="아이디">
        <br><br>
        <input name="password1" type="password" placeholder="비밀번호 (8자 이상)">
        <br><br>
        <input name="password2" type="password" placeholder="비밀번호 확인">
        <br><br>
        <input type="submit" value="가입하기">
    </form>
</div>
</div>
{% endblock %}