{% load static %}
    <head>
        <!--style.css file 가져오기-->
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/calendar.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">
        <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
  />
        <!--bootstrap 호출
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        -->
        
	    <title>초록일기</title>
    </head>
    <style>
     .site{
       width: 1250px;
       
       margin: 0 auto;
       
     }

    </style>
     
    <body>
    <div class="site">
      
      <div class="grid">
        
        
          
          <div class="header-gd">
            
            <h1><a href="{% url 'diary:home' %}">&nbsp;
              <img src="{% static 'images/leaf.png' %}">
              
              초록일기&nbsp;</a></h1>
             
          
        </div>
         

        <div class="header">
          <div class="vercenter">
            <div class="right">
              {% if user.is_authenticated %}
              <a href="{% url 'logout' %}">({{ user.username }})&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-sign-out-alt"></i>&nbsp;로그아웃&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
              {% else %}
              
              <a href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i>&nbsp;로그인&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
              <a href="{% url 'signup' %}"><i class="fas fa-user-plus"></i>&nbsp;회원가입&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
              {% endif %}
        </div>
        </div>
        </div>
      
        
          <div class="sidebar">
           <div id="container">
             
            <ul>
            <br></br>
            <li><a href="[% url 'diary:news' %}"><img src="{% static 'images/newspaper.png' %}">&nbsp;&nbsp;환경뉴스</a></li>
            <li><a href="{% url 'diary:calendar'%}"><img src="{% static 'images/diary.png' %}">&nbsp;&nbsp;다이어리</a>
              <ul>
                <li><a href="{% url 'diary:calendar'%}">- 나의 다이어리</a></li>
                <li><a href="{% url 'diary:list' %}">- 다이어리 리스트</a></li>
                
              </ul>
            </li>
            <li><a href=""><img src="{% static 'images/farming.png' %}">&nbsp;&nbsp;정원</a>
              <ul>
                <li><a href="">- 나의 정원</a></li>                
              </ul>
            </li>
              
             
           </ul>
           
          </div>
          </div>
    {% block content %}
    {% endblock %}
      </div>
    </div>
    </body>
    




