{% load static %}
    <head>
        <!--style.css file 가져오기-->
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/calendar.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">
        <!--bootstrap 호출
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        -->
        
	    <title>초록일기</title>
    </head>
    <style>
     

    </style>
     
    <body>
    
      <div class="grid">
        
        <div class="header">
          <div class="header-gd">
            <h1><a href="{% url 'diary:home' %}">초록일기</a></h1>
          </div>
        </div>
        <div class="header-color"></div>    

        <div class="header">
          <div class="vercenter">
            <div class="right">
          <a href="{% url 'signup' %}">회원가입</a>
          <a href="{% url 'login' %}">로그인</a>
          <a href="{% url 'logout' %}">로그아웃</a>
        </div>
        </div>
        </div>
      
        
          <div class="sidebar">
           <div id="container">
             
            <ul>
            <br></br>
            <li><a href="">환경뉴스</a></li>
            <li><a href="{% url 'diary:calendar'%}">다이어리</a>
              <ul>
                <li><a href="{% url 'diary:calendar'%}">나의 다이어리</a></li>
                <li><a href="{% url 'diary:list' %}">다이어리 리스트</a></li>
                
              </ul>
            </li>
            <li><a href="">정원</a>
              <ul>
                <li><a href="">나의 정원</a></li>                
              </ul>
            </li>
              
             
           </ul>
           
          </div>
          </div>
    {% block content %}
    {% endblock %}
      </div>
      
    </body>
    




