{% extends 'base.html' %}


<body>
    
    <div class="grid">
        {% block content %}
        
        <div class="content">
        <h1 style="color: black;">나의 다이어리</h1>
        <div class="right">
            <a href="{% url 'diary:calendar' %}?{{ prev_month }}">이전 달</a>
            <a href="{% url 'diary:calendar' %}?{{ next_month }}">다음 달</a>
            <a href="{% url 'diary:create' %}">일기작성</a>
        </div>
        {{calendar}}
       
    </div>
    {% endblock %}

</div>
</body>
