.grid{
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 100px 3fr 100px;
    gap: 20px;
    	
}
.container {
    width: 980px;
    margin: 0px auto;
    padding: 20px;
    
  }
.sidebar {
    grid-column: 1/2;
    grid-row: 2/3;
    border: 1px solid #bcbcbc;
    
  }
.header {
    grid-column: 1/4;
    grid-row: 1/2;
    border: 1px solid #bcbcbc;
}
.content {
    grid-column: 2/4;
    grid-row: 2/4;
  
    
    border: 1px solid #bcbcbc;
}

li{
    list-style: none;
}

li:last-child {
    border-bottom: none;
}

li a {
	display: block;
	color: #000000;
	padding: 8px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
}

li a.current {
	background-color: #FF6347;
	color: white;
}
    
li a:hover:not(.current) {
	background-color: #67cd3f;
	color: white;
}

.right {
    text-align: right;
}

.vercenter {
    line-height: 100px;
}

body {
    
    font-family: 'Poor Story', cursive;
}
